@import url("../../styles.css");

.dashboard-container {
  min-height: 100%;
  min-width: 100%;
  background-color: var(--bg-200) !important;
  display: flex;
  position: relative;
  flex-direction: column;
}